@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 700px;
}

.App {
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: inset -1px 4px 17px black;
  padding: 20px;
  min-height: 650px;
  background: #ecf5ef;
}

nav {
  padding-top: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid green;
  box-shadow: 0 4px 0 black;
  padding-right: 20px;
}

header a {
  text-decoration: none;
  color: #034538;
  font-weight: 900;
}

nav a {
  padding: 0 20px;
}

header a:hover {
  color: rgb(8, 110, 4);
  text-decoration-line: overline underline;
  zoom: 1.2;
  border: none;
}
